body {
    position: relative;
    margin: 5%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: Ubuntu;
}

a {
  color: #00B7FF;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#experience {
	padding: 10px;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.dp {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
    top: -8px;
}


#nameDesc {
	display: inline-block;
    width: 60%;
    padding-top: 10px;
    padding-left: 30px;
    position: relative;
    top: -30px;
}

#about, #skills, #experience, #projects, #contact {
    padding-top: 66px;
}