body {
    position: relative;
    margin: 5%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: Ubuntu;
}

/* general links */
a:link {color:#00B7FF;}
a:visited {color:#00B7FF;}
a:hover {color:#0275d8;}

/* contact links */
a.resume-link:link, a.resume-link:visited {color:#7c7c7c;}
a.resume-link:hover {color:#d62129;}
a.facebook-link:link, a.facebook-link:visited {color:#7c7c7c;}
a.facebook-link:hover {color:#3b5998;}
a.github-link:link, a.github-link:visited {color:#7c7c7c;}
a.github-link:hover {color:#24292e;}
a.linkedin-link:link, a.linkedin-link:visited {color:#7c7c7c;}
a.linkedin-link:hover {color:#00a0dc;}
a.mail-link:link, a.mail-link:visited {color:#7c7c7c;}
a.mail-link:hover {color:#f2a60c;}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#experience {
	padding: 10px;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-pills .nav-link {
    color: #000000;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #000000;
    cursor: default;
    background-color: #cccccc;
}

.rk-logo {
    height: 40px;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.dp {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
    top: -8px;
}


#nameDesc {
	display: inline-block;
    width: 60%;
    padding-top: 10px;
    padding-left: 30px;
    position: relative;
    top: -30px;
}

#skills .row {
    border-top: 1px solid;
    border-color: #888;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about, #skills, #experience, #projects {
    min-height:100vh;
}

#about, #skills, #experience, #projects, #contact {
    padding-top: 106px;
}