<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ryan Keng</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/8f539d3d8d.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body data-spy="scroll" data-target="#navbar-example2">
  <nav id="navbar-example2" class="navbar fixed-top navbar-expand-xl navbar-light" style="background-color: #e3f2fd;overflow: auto;">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">contact</a>
      </li>
    </ul>
  </nav>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

  <div id="about">
  <div class="container-fluid" style="text-align:center;">
    <div class="row">
      <div class="col">
        <div class="image-cropper"><img class="dp" src="/images/profile_pic.jpg"></div>
      </div>
      <div class="col">
          <div class="row" style="height: 70px">
            <h1 style="margin: auto;">RYAN KENG</h1>
          </div>
          <div class="row">
            <p>I'm a third-year Computer Science major at UCSD. I was a Web Development Intern at Foxconn Technology Group during summer 2017. I'm currently looking for internship opportunities for summer 2018.</p>
          </div>
      </div>
    </div>
  </div>
</div>

  <hr>

  <div id="skills">
    <h2 style="text-align: center">Skills</h2>
    <div style="text-align: center; font-size: 4rem; color: #808080;">
      <h4>Languages</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <h4>Frameworks</h4>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-tomcat-line-wordmark colored"></i>
      <h4>Tools</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
    </div>
  </div>

  <hr>

  <div id="experience">
    <h2 style="text-align: center">Experience</h2>
      <div class="card" style="width: 100%; max-width: 400px; margin:auto;">
        <img class="card-img-top" src="/images/foxconn-logo.png" alt="Card image cap" style="width: 90%;margin:auto;">
        <div class="card-block">
          <h4 class="card-title">Web Development Intern</h4>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> Foxconn Technology Group, Shenzhen, China</p>
          <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 07/2017 - 08/2017</p>
          <div class="collapse" id="collapseFoxconn" style="padding-bottom: 15px;">
                • Developed five webpages with Java EE and Oracle PL/SQL, built on Apache Tomcat server <br/>
                • Assisted the Java web development team by implementing new features to our project, e.g. drag and drop effects and interactive charting <br/>
                • Coordinated with team development standards and agile software development <br/>
                • Performed cross-browser testing for functionality and style
          </div>
            <a href="javascript:void(0)" class="card-link" data-toggle="collapse" data-target="#collapseFoxconn" aria-expanded="false" aria-controls="collapseFoxconn" onclick="if(this.innerHTML =='Learn More'){this.innerHTML = 'Collapse'}else{this.innerHTML = 'Learn More'}">Learn More</a>
            <a target="_blank" href="https://drive.google.com/drive/folders/0BywOL8lLiDdxOUk5Z3g3dVE1TUk?usp=sharing" class="card-link">See demos</a>
        </div>
      </div>
  </div>

  <hr>

  <div id="projects">
    <h2 style="text-align: center">Projects</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="min-width: 250px">
          <div class="card" style="width: 100%; max-width: 400px; margin:auto;">
            <img class="card-img-top" src="/images/sd-hacks-logo.png" alt="Card image cap" style="width: 50%;margin: auto;">
            <div class="card-block">
              <h4 class="card-title">Untitled Project</h4>
              <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> SD Hacks, UCSD, La Jolla, CA</p>
              <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 10/2017</p>
              <div class="collapse" id="collapseTrackerJAR" style="padding-bottom: 15px;">
                    • Attempted to build an augmented reality web application that locates where the user last parked their car <br/>
                    • Implemented geolocation-tracking with HTML Geolocation API, location visualization with Google Maps API, video data streaming with Media Capture and Streams API
              </div>
                <a href="javascript:void(0)" class="card-link" data-toggle="collapse" data-target="#collapseTrackerJAR" aria-expanded="false" aria-controls="collapseTrackerJAR" onclick="if(this.innerHTML =='Learn More'){this.innerHTML = 'Collapse'}else{this.innerHTML = 'Learn More'}">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col" style="min-width: 250px">
          <div class="card" style="width: 100%; max-width: 400px; margin:auto;">
            <img class="card-img-top" src="/images/ucsdflyers-logo.png" alt="Card image cap" style="width: 90%;margin: auto;padding-top: 50px;padding-bottom: 50px;">
            <div class="card-block">
              <h4 class="card-title">UCSD Flyers</h4>
              <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> UCSD, La Jolla, CA</p>
              <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 01/2017 - 03/2017</p>
              <div class="collapse" id="collapseUCSDFlyers" style="padding-bottom: 15px;">
                • Developed a student organization promotion platform with React and Firebase, built on Node.js <br/>
                • Coordinated use cases, user stories, and requirements <br/>
                • Recognized as the most significant contributor in peer reviews
              </div>
                <a href="javascript:void(0)" class="card-link" data-toggle="collapse" data-target="#collapseUCSDFlyers" aria-expanded="false" aria-controls="collapseUCSDFlyers" onclick="if(this.innerHTML =='Learn More'){this.innerHTML = 'Collapse'}else{this.innerHTML = 'Learn More'}">Learn More</a>
                <a target="_blank" href="https://ucsd-flyers.firebaseapp.com/events" class="card-link">Visit Website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div id="contact" style="text-align: center">
    <h2>Reach me at</h2>
    <div>
      <a href="https://www.facebook.com/RyanH.Keng"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
      <a href="https://github.com/rkeng"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/ryan-keng/"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <a href="mailto:rkeng@ucsd.edu"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a>
    </div>
  </div>

  </div>
</body>
</html>
